
{% load static %}


<!DOCTYPE html>

<html>
  <head>
  <link rel="stylesheet" type = "text/css" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <img class= 'royganteng' src="{% static 'img/roy.jpg' %}" alt="">
    <h1 class="judul" >First HTML Program</h1>
    <p> My name is Roy and this is my new Program</p>
    <p><a href='/home'> menuju home</a></p>
  </body>
</html>